.item {
    border: none; 
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    height: 100%;
}

.item:hover .image-container {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-color: #ccc; 
}

.image-container {
    border: 1px solid #eee; 
    background-color: white;
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.sale-badge {
    position: absolute;
    top: 15px;
    right: -35px;
    background-color: #ff4d4d;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 40px;
    transform: rotate(45deg);
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    pointer-events: none;
}

.item-details {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 1.4;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-container {
    margin-top: auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.current-price {
    color: #666; 
    font-weight: normal;
    font-size: 18px;

}

.current-price.red {
    color: #ff4d4d;
    font-weight: bold;
    font-size: 20px;

}

.old-price {
    text-decoration: line-through;
    color: #aaa;
    font-size: 16px;
}

