body {
    position: relative;
    background-color: rgb(29, 6, 26);

}



.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    height: 40%;

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}



input {
    width: 70%;
    height: 15%;
    border-radius: 50px;
    border: 0px solid;
    text-align: center;
    outline: none;


}

button {
    padding: 15px 35px;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
button:hover {
  letter-spacing: 3px;
  background-color: rgb(255, 255, 255);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(251, 121, 61) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: rgb(251, 93, 61);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(251, 83, 61) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.glowbox {
    background: linear-gradient(156deg,rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 75%);;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    height: 40%;
    z-index: -1;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgb(247, 53, 35), 0 0 30px 10px rgba(214, 214, 30, 0.5);

    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    
}

.window:hover{
    width: 51%;
    height: 41%;
}
.window:hover + .glowbox {
    width: 52%; 
    height: 42%;
}

.resultDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 70%;
    border-radius: 50px;
    background-color: white;
}

.mainText {
    position: absolute;
    font-size: 70px;
    text-align: center;
    color: white;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subtext {
    position: absolute;
    font-size: 20px;
    text-align: left;
    color: gray;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 25px;
}